This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [3]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ##????

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [37]:
# First, import the relevant modules
import requests
import quandl
from pandas.io.json import json_normalize

quandl.ApiConfig.api_key = API_KEY

In [121]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

data = requests.get ("https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key="+API_KEY ).json()

In [122]:
data['dataset']['data'][0]

['2018-08-09',
 None,
 69.35,
 68.65,
 69.35,
 None,
 58850.0,
 4068455.0,
 None,
 None,
 None]

In [ ]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

### 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [86]:
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?start_date=2017-01-01&end_date=2017-12-31&api_key="+API_KEY
data = requests.get (url)
data

### 2. Convert the returned JSON object into a Python dictionary.

In [ ]:
data = data.json()

### 3.Calculate what the highest and lowest opening prices were for the stock in this period.

In [88]:
#Columns name of downloaded table
col_names = data["dataset"]['column_names']

In [89]:
#Normalize the json into a DataFrame format
df=json_normalize(data["dataset"], "data")
df.columns = col_names
df.head(3)

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None

In [124]:
df.describe()

,Open,High,Low,Close,Change,Traded Volume,Turnover
count,252.000000,255.000000,255.000000,255.000000,1.00,255.000000,2.550000e+02
mean,43.344206,43.702804,42.924373,43.364157,-0.44,89124.337255,3.853589e+06
std,4.348585,4.365667,4.267225,4.321755,NaN,60441.130541,2.517807e+06
min,34.000000,34.120000,33.620000,34.060000,-0.44,45.000000,1.980000e+03
25%,41.395000,41.580000,41.045000,41.400000,-0.44,56282.000000,2.388636e+06
50%,43.450000,43.550000,42.620000,43.280000,-0.44,76286.000000,3.292223e+06
75%,45.857500,46.195000,45.390000,45.850000,-0.44,104479.000000,4.591904e+06
max,53.110000,53.540000,52.480000,53.090000,-0.44,670349.000000,2.591054e+07

In [90]:
print("The highest opening prices",df.Open.max())
print("The highest opening prices",df.Open.min())

The highest opening prices 53.11
The highest opening prices 34.0

### 4. What was the largest change in any one day (based on High and Low price)?

In [110]:
print("The largest change in one day is %3.3f."%(abs(df.High - df.Low).max()))

The largest change in one day is 2.810.

### 5. What was the largest change between any two days (based on Closing Price)?

In [109]:
lst= [abs(df.Close[i] - df.Close[i+1]) for i in range(0,len(df.Close)-1)]
print("The largest change between any two days is %3.3f"%(max(lst)))

The largest change between any two days is 2.560

### 6. What was the average daily trading volume during this year?

In [114]:
print("The average daily trading volume is %3.3f"%(df["Traded Volume"].mean()))

The average daily trading volume is 89124.337

### 7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [120]:
import numpy as np
print("The median trading volume during this year is ",np.median(df["Traded Volume"]))

The median trading volume during this year is  76286.0